body{
    background-color: #1c1414f8;
}

.header-des{
    padding-top: 150px;
}

.football{
   right: -103%;
    

}

.h1-header{
    font-family: 'Shrikhand', cursive;
    font-size: 3.5rem;   
    color: red;   
    text-decoration: underline; 
    margin-bottom: 10px;                                    
}

.p-header{
    font-size: 1em;
    color: white;
    margin-bottom: 50px;
}

@media screen and (max-width: 400px) {
    .football{
        display: none;
    }
}

@media screen and (min-width: 401px) and (max-width: 800px) {
    .football{
        display: none;
    }
}